<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="saved-tab" data-toggle="tab" href="#saved" role="tab" aria-controls="saved" aria-selected="true">Saved Stores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="visited-tab" data-toggle="tab" href="#visited" role="tab" aria-controls="visited" aria-selected="false">Visited Stores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">All Stores</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="saved" role="tabpanel" aria-labelledby="saved-tab">
        <div class="card-deck mb-5">
                <% locations.forEach(function(location) { %>
                    <% if (!location.favorite.visited) { %>
                        <div class="card m-2 list-cards"><p>
                            <div class="card-body">
                                <h4 class="card-title"><%= location.name %></h4>
                                <p class="card-subtitle text-muted mb-2"><%= location.city %>, <%= location.state %></p>
                                <a href="../profile/<%= location.ravId %>">Store Info</a>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
        </div>
    </div>

    <div class="tab-pane fade" id="visited" role="tabpanel" aria-labelledby="visited-tab">
        <div class="mb-5">
            <div class="card-deck">
                <% locations.forEach(function(location) { %>
                    <% if (location.favorite.visited === true) { %>
                        <div class="card m-2 list-cards"><p>
                            <div class="card-body">
                                <h4 class="card-title"><%= location.name %></h4>
                                <p class="card-subtitle text-muted mb-2"><%= location.city %>, <%= location.state %></p>                        
                                <a href="../profile/<%= location.ravId %>">Store Info</a>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
        <div class="mb-5">
            <div class="card-deck">
                <% locations.forEach(function(location) { %>
                    <div class="card m-2 list-cards"><p>
                        <div class="card-body">
                            <h4 class="card-title"><%= location.name %></h4>
                            <p class="card-subtitle text-muted mb-2"><%= location.city %>, <%= location.state %></p>                        
                            <a href="../profile/<%= location.ravId %>">Store Info</a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

