<h1><%= shopData.shop.name %></h1>

<h3>Contact Information</h3>
<p><%= shopData.shop.location %></p>
<p><%= shopData.shop.phone %></p>
<p><a href="<%= shopData.shop.url %>"><%= shopData.shop.url %></a></p>

<h3>Hours</h3>
<% if (shopData.schedules.length > 0) {%>
    <% shopData.schedules.forEach (function (day) { %>
        <% if (!day.closed && day.opening_time) { %>
            <p><%= day.day_name %> -- <%= day.opening_time.split(' ')[1] %> - <%= day.closing_time.split(' ')[1] %></p>
        <% } %>
    <% });%>
<% } else { %>
    <p>Contact store for information</p>
<% }; %>
<br />
<%- shopData.shop.notes_html %>

<h3>Your comments on this place!</h3>
<% comments.forEach(function (comment) { %>
    <p><%= comment.content %></p>
<% }); %>


<h3>Add A Comment!</h3>
<form action="/profile/<%= shopData.shop.id %>/notes" method="POST">
    <input type="text" name="content" placeholder="note">
    <input hidden name="locationId" placeholder="">
    <input type="submit" value="Save Note">
</form>

<form action="/profile/<%= shopData.shop.id %>/?_method=PUT" method="POST">
    <input type="submit" value="I've visited this store">
</form>

<form action="/profile/<%= shopData.shop.id %>/?_method=DELETE" method="POST">
    <input type="submit" value="Remove from list">
</form>