<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="jumbotron">
            <h1 class="display-4"><%= shopData.shop.name %></h1>

            <% if (shopData.schedules.length > 0) {%>
                <hr class="my-4">

                <div class="hours">
                    <% shopData.schedules.forEach (function (day) { %>
                        <div class="day-of-week">
                            <% if (day.closed) { %>
                                <i class="fas fa-calendar-times fa-2x"></i>
                            <% } else { %>
                                <i class="fas fa-calendar-check fa-2x"></i>
                            <% } %>
                            <div><%= day.day_name %></div>
                        </div>
                    <% });%>
                </div>
            <% } else { %>
                <hr class="my-4">
                <p class="lead">Contact store for daily availability</p>
            <% }; %>
            
            <hr class="my-4">

            <p class="lead">
                <i class="fas fa-thumbtack contact"></i>
                <%= shopData.shop.location %>
            </p>
            <p class="lead">
                <% if (shopData.shop.phone != "") { %>
                    <i class="fas fa-phone-square-alt contact"></i>
                    <%= shopData.shop.phone %>
                <% }; %>
            </p>
            <p class="lead">
                <i class="fas fa-link contact"></i>
                <a href="<%= shopData.shop.url %>"> <%= shopData.shop.name %></a>
            </p>
            
            <% if (shopData.shop.notes_html != "") { %>
                <hr class="my-4">
                <%- shopData.shop.notes_html %>
            <% }; %>

            <br />
            <form action="/stores/add/<%= shopData.shop.id %>" method="POST">
                <input hidden name="name" value="<%= shopData.shop.name %>">
                <input hidden name="city" value="<%= shopData.shop.city %>">
                <input hidden name="state" value="<%= shopData.shop.state.name %>">
                <input hidden name="ravId" value="<%= shopData.shop.id %>">
                <input type="submit" value="Add to my list">
            </form>
        </div>
        
    </div>
    <div class="col-2"></div>
</div>



